.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;

  & .calcWrapper {
    padding: calc(var(--yr) * 2);
    justify-self: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
